<a href="https://www.kaggle.com/code/miguelcontrerasortiz/microsoft-exploracion-de-datos-con-numpy-y-panda?scriptVersionId=124640999" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = [50,50,47,97,49,3,53,42,26,74,82,62,37,15,70,27,36,35,48,52,63,64]
print(data)

[50, 50, 47, 97, 49, 3, 53, 42, 26, 74, 82, 62, 37, 15, 70, 27, 36, 35, 48, 52, 63, 64]

In [3]:
grades = np.array(data)
print(grades)

[50 50 47 97 49  3 53 42 26 74 82 62 37 15 70 27 36 35 48 52 63 64]

In [4]:
print (type(data),'x 2:', data * 2)
print('---')
print (type(grades),'x 2:', grades * 2)

<class 'list'> x 2: [50, 50, 47, 97, 49, 3, 53, 42, 26, 74, 82, 62, 37, 15, 70, 27, 36, 35, 48, 52, 63, 64, 50, 50, 47, 97, 49, 3, 53, 42, 26, 74, 82, 62, 37, 15, 70, 27, 36, 35, 48, 52, 63, 64]
---
<class 'numpy.ndarray'> x 2: [100 100  94 194  98   6 106  84  52 148 164 124  74  30 140  54  72  70
  96 104 126 128]

In [5]:
grades.shape

(22,)

In [6]:
grades[0]

50

In [7]:
# Definiendo un estudio 
study_hours = [10.0,11.5,9.0,16.0,9.25,1.0,11.5,9.0,8.5,14.5,15.5,
               13.75,9.0,8.0,15.5,8.0,9.0,6.0,10.0,12.0,12.5,12.0]

# Create a 2D array (an array of arrays)
student_data = np.array([study_hours, grades])

student_data

array([[10.  , 11.5 ,  9.  , 16.  ,  9.25,  1.  , 11.5 ,  9.  ,  8.5 ,
        14.5 , 15.5 , 13.75,  9.  ,  8.  , 15.5 ,  8.  ,  9.  ,  6.  ,
        10.  , 12.  , 12.5 , 12.  ],
       [50.  , 50.  , 47.  , 97.  , 49.  ,  3.  , 53.  , 42.  , 26.  ,
        74.  , 82.  , 62.  , 37.  , 15.  , 70.  , 27.  , 36.  , 35.  ,
        48.  , 52.  , 63.  , 64.  ]])

In [8]:
# Mostrar arreglo 2D8
student_data.shape

(2, 22)

In [9]:
# Mostrar el primer elemento de la primera dimension
student_data[0][0]

10.0

In [10]:
# Encontrar el promedio de cada arreglo
avg_study = student_data[0].mean()
avg_grade = student_data[1].mean()

print('Horas de estudio promedio: {:.2f}\nGrado promedio: {:.2f}'.format(avg_study, avg_grade))

Horas de estudio promedio: 10.52
Grado promedio: 49.18

# Explorando datos tabulares con Pandas

In [11]:
df_students = pd.DataFrame({'Name': ['Dan', 'Joann', 'Pedro', 'Rosie', 'Ethan', 'Vicky', 'Frederic', 'Jimmie', 
                                     'Rhonda', 'Giovanni', 'Francesca', 'Rajab', 'Naiyana', 'Kian', 'Jenny',
                                     'Jakeem','Helena','Ismat','Anila','Skye','Daniel','Aisha'],
                            'StudyHours':student_data[0],
                            'Grade':student_data[1]})

df_students

         Name  StudyHours  Grade
0         Dan       10.00   50.0
1       Joann       11.50   50.0
2       Pedro        9.00   47.0
3       Rosie       16.00   97.0
4       Ethan        9.25   49.0
5       Vicky        1.00    3.0
6    Frederic       11.50   53.0
7      Jimmie        9.00   42.0
8      Rhonda        8.50   26.0
9    Giovanni       14.50   74.0
10  Francesca       15.50   82.0
11      Rajab       13.75   62.0
12    Naiyana        9.00   37.0
13       Kian        8.00   15.0
14      Jenny       15.50   70.0
15     Jakeem        8.00   27.0
16     Helena        9.00   36.0
17      Ismat        6.00   35.0
18      Anila       10.00   48.0
19       Skye       12.00   52.0
20     Daniel       12.50   63.0
21      Aisha       12.00   64.0

# Filtrando datos en un DataFrame

In [12]:
# Obtener el dato para el index con valor 5
df_students.loc[5]

Name          Vicky
StudyHours      1.0
Grade           3.0
Name: 5, dtype: object

Diferencias entre loc e iloc

In [13]:
# Obtener los primeros 5 valores
df_students.loc[0:5]

    Name  StudyHours  Grade
0    Dan       10.00   50.0
1  Joann       11.50   50.0
2  Pedro        9.00   47.0
3  Rosie       16.00   97.0
4  Ethan        9.25   49.0
5  Vicky        1.00    3.0

In [14]:
df_students.iloc[0:5]

    Name  StudyHours  Grade
0    Dan       10.00   50.0
1  Joann       11.50   50.0
2  Pedro        9.00   47.0
3  Rosie       16.00   97.0
4  Ethan        9.25   49.0

In [15]:
# Puedes usar loc para encontrar filas indexadas
df_students.loc[df_students['Name']=='Aisha']

     Name  StudyHours  Grade
21  Aisha        12.0   64.0

In [16]:
# Para encontrar los mismos resultados
df_students.query('Name=="Aisha"')

     Name  StudyHours  Grade
21  Aisha        12.0   64.0

# Cargando DF desde un archivo

In [17]:
!wget https://raw.githubusercontent.com/MicrosoftDocs/mslearn-introduction-to-machine-learning/main/Data/ml-basics/grades.csv
df_students = pd.read_csv('grades.csv',delimiter=',',header='infer')
df_students.head()

--2023-04-05 05:05:02--  https://raw.githubusercontent.com/MicrosoftDocs/mslearn-introduction-to-machine-learning/main/Data/ml-basics/grades.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 322 [text/plain]
Saving to: ‘grades.csv’

grades.csv          100%[===================>]     322  --.-KB/s    in 0s

2023-04-05 05:05:02 (17.0 MB/s) - ‘grades.csv’ saved [322/322]

    Name  StudyHours  Grade
0    Dan       10.00   50.0
1  Joann       11.50   50.0
2  Pedro        9.00   47.0
3  Rosie       16.00   97.0
4  Ethan        9.25   49.0

# Encontrando valores perdidos

In [18]:
df_students.isnull()

     Name  StudyHours  Grade
0   False       False  False
1   False       False  False
2   False       False  False
3   False       False  False
4   False       False  False
5   False       False  False
6   False       False  False
7   False       False  False
8   False       False  False
9   False       False  False
10  False       False  False
11  False       False  False
12  False       False  False
13  False       False  False
14  False       False  False
15  False       False  False
16  False       False  False
17  False       False  False
18  False       False  False
19  False       False  False
20  False       False  False
21  False       False  False
22  False       False   True
23  False        True   True

In [19]:
df_students.isnull().sum()

Name          0
StudyHours    1
Grade         2
dtype: int64

In [20]:
df_students[df_students.isnull().any(axis=1)]

    Name  StudyHours  Grade
22  Bill         8.0    NaN
23   Ted         NaN    NaN

In [21]:
df_students.StudyHours = df_students.StudyHours.fillna(df_students.StudyHours.mean())
df_students

         Name  StudyHours  Grade
0         Dan   10.000000   50.0
1       Joann   11.500000   50.0
2       Pedro    9.000000   47.0
3       Rosie   16.000000   97.0
4       Ethan    9.250000   49.0
5       Vicky    1.000000    3.0
6    Frederic   11.500000   53.0
7      Jimmie    9.000000   42.0
8      Rhonda    8.500000   26.0
9    Giovanni   14.500000   74.0
10  Francesca   15.500000   82.0
11      Rajab   13.750000   62.0
12    Naiyana    9.000000   37.0
13       Kian    8.000000   15.0
14      Jenny   15.500000   70.0
15     Jakeem    8.000000   27.0
16     Helena    9.000000   36.0
17      Ismat    6.000000   35.0
18      Anila   10.000000   48.0
19       Skye   12.000000   52.0
20     Daniel   12.500000   63.0
21      Aisha   12.000000   64.0
22       Bill    8.000000    NaN
23        Ted   10.413043    NaN

In [22]:
df_students = df_students.dropna(axis=0, how='any')
df_students

         Name  StudyHours  Grade
0         Dan       10.00   50.0
1       Joann       11.50   50.0
2       Pedro        9.00   47.0
3       Rosie       16.00   97.0
4       Ethan        9.25   49.0
5       Vicky        1.00    3.0
6    Frederic       11.50   53.0
7      Jimmie        9.00   42.0
8      Rhonda        8.50   26.0
9    Giovanni       14.50   74.0
10  Francesca       15.50   82.0
11      Rajab       13.75   62.0
12    Naiyana        9.00   37.0
13       Kian        8.00   15.0
14      Jenny       15.50   70.0
15     Jakeem        8.00   27.0
16     Helena        9.00   36.0
17      Ismat        6.00   35.0
18      Anila       10.00   48.0
19       Skye       12.00   52.0
20     Daniel       12.50   63.0
21      Aisha       12.00   64.0

In [23]:
#Encontrando el promedio de las horas de estudio
mean_study = df_students['StudyHours'].mean()

mean_grade = df_students.Grade.mean()

# Horas promedio de estudio
print('Average weekly study hours: {:.2f}\nAverage grade: {:.2f}'.format(mean_study, mean_grade))

Average weekly study hours: 10.52
Average grade: 49.18

In [24]:
# Otener estudiantes que tienen 2 horas de estudio en promedio
df_students[df_students.StudyHours > mean_study]

         Name  StudyHours  Grade
1       Joann       11.50   50.0
3       Rosie       16.00   97.0
6    Frederic       11.50   53.0
9    Giovanni       14.50   74.0
10  Francesca       15.50   82.0
11      Rajab       13.75   62.0
14      Jenny       15.50   70.0
19       Skye       12.00   52.0
20     Daniel       12.50   63.0
21      Aisha       12.00   64.0

In [25]:
df_students[df_students.StudyHours > mean_study]

         Name  StudyHours  Grade
1       Joann       11.50   50.0
3       Rosie       16.00   97.0
6    Frederic       11.50   53.0
9    Giovanni       14.50   74.0
10  Francesca       15.50   82.0
11      Rajab       13.75   62.0
14      Jenny       15.50   70.0
19       Skye       12.00   52.0
20     Daniel       12.50   63.0
21      Aisha       12.00   64.0